[Desktop Entry]
Type=Application
Name=VCV Rack
Comment=Modular Synthesis
Icon=/opt/vcvrack/res/icon.png
Exec="pw-jack /usr/bin/vcvrack" %F
Terminal=false
Categories=Audio;Music
Keywords=Music
