[Desktop Entry]
Name=Neovim
Comment=Edit text files in Neovim
Exec=kitty -e nvim %F
Icon=neovim
Terminal=false
Type=Application
MimeType=text/plain;text/x-csrc;text/x-python;text/x-sh;
Categories=Utility;TextEditor;
StartupNotify=true

