[Desktop Entry]
Name=Qimgv
Comment=View image files in Qimgv
Exec=qimgv %F
Icon=qimgv
Terminal=false
Type=Application
MimeType=image/png;image/jpeg;image/bmp;image/gif:image/x-xcf:image/x-xpm:image/svg+xml;
Categories=Graphics;Viewer;
StartupNotify=true
